.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.inner{
    width: var(--default-layout-header-width);
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 0px rgb(140, 140, 140);
    border-radius: 30px;
}

.title{
    justify-content: center;
    height: 30px;
    width: 100%;
    display: flex;
    margin-top: 70px;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.content{
    display: flex;
    overflow: hidden;
    text-align: justify;
    width: 90%;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
}
.content h6{
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-top: 20px;
}


.content h5{
    margin-top: 30px;
}

table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

thead{
    width: auto;
    height: 40px;
    background-color: rgb(145, 145, 145);
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 700;
    align-items: center;
    text-align: center;
}
