.wrapper {
    display: flex;
    justify-content: center;
    user-select: none;
    height: auto;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    min-height: 91vh;
    width: var(--default-layout-header-width);
}
.temp{
    width: 100%;
    height: auto;
    flex-direction: column;
}

.inner{
    width: auto;
    background-color: #f5f5f5;
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
    box-shadow: 0 0 10px 0 rgb(190, 190, 190);
    border-radius: 30px;
    margin-bottom: 50px;
}